@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Kanit", system-ui;
  background-color: #31363F;
  color: #EEEEEE;
  margin: 0;
}

#main{
  background-color: #222831;
  padding: 50px 0;
  margin: 10vh 10vw;
  border-radius: 24px;
  box-shadow: 0px 0px 75px 12px rgba(167, 167, 167, 0.1), -5px 0px 75px -42px rgba(0,0,0,0.9) inset;
} 

#title{
  text-align: center;
  font-size: 3rem;
}

#title p{
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#title img{
  width: 80px;
  margin-left: 20px;
}

#buttons-container{
  background-color: #31363F;
  width: 50%;
  margin: auto;
  border: rgba(238, 238, 238, 0.6) 2px solid;
  border-radius: 10px;
}

#buttons-container p{
  font-size: 1.4rem;
  margin: 0;
  border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
  padding: 5px 0;
  text-align: center;
  transition: 0.4s;
}

#buttons-container p:hover{
  background-color: rgba(255, 255, 255, 0.866);
  color: #31363F;
  cursor: pointer;
}

.divider p{
  border-bottom: rgba(255, 255, 255, 0.8) 2px solid;
  width: 80%;
  margin: 40px auto;
}

#answer-box{
  width: 70%;
  margin: auto;
}

#answer-box{
  background-color: #16181c;
  border: 2px solid rgba(255, 255, 255, 0.467);
  border-radius: 10px;
  min-height: 300px;
  height: auto;
  margin-bottom: 30px;
}

#answer-box p{
  margin: 15px;
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.yellow{
  color: rgb(255, 255, 132);
  font-style: italic;
}

.green{
  color: rgb(117, 166, 109);
}

.brown{
  color: rgb(184, 71, 71);
}

.yellow-side{
  font-size: 1rem;
  font-style: oblique;
  color: gold;
}

.class{
  margin-bottom: 20px;
}

.async{
  font-size: 1.2rem;
  color: rgb(120, 197, 255);
}

.version{
  color: white;
  opacity: .3;
  position: fixed;
  bottom: 0;
  right: 10px;
}

.phone-num{
  text-decoration: underline;
}

.right{
  text-align: right;
  font-style: italic;
}

li{
  animation: fadeIn 2s forwards;
}



li:hover{
  cursor: pointer;
}

#files{
  display: flex;
  justify-content: center;
}

#files a{
  color: rgb(96, 146, 255);
  border: 2px white solid;
  background-color: #222831;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 14px;
  transition: .6s;

  animation: fadeIn 2s forwards;
}
 
#files a:hover{
  background-color: white;
  color: black;
}

#files a:active{
  transform: translate(0px, 5px);
}

#about a{
  color: rgb(96, 146, 255);
}

#about img{
  margin-left: 10%;
  width: 80%;
  border-radius: 14px;
  align-self: center;
  max-width: 250px;
}

.line-t{
  text-decoration: line-through;
  color: rgb(162, 162, 162); 
  font-size: 1rem;
  font-style: oblique;
}

.breaker{
  display: block;
  width: 100%;
  border-bottom: 2px white solid;
}

#modal {
  color: rgb(59, 59, 59);
  max-width: 500px;
  width: 80%;
  background-color: rgba(238, 238, 238, 0.942);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 15px;
  animation: fadeIn 1s forwards
}

#modal h2{
  text-align: center;
}
#modal p{
  margin: 10px 20px;
}

#modal img{
  width: 50%;
  border-radius: 14px;
  margin-left: 25%;
}

#black-shade{
  background-color: rgba(0, 0, 0, 0.431);
  width: 100vw;
  height: 150vh;
  position: fixed;
  transform: translate(0%, -15%);
  animation: fadeIn 1s forwards
}

.close{
  transition: .3s;
}

.close:hover{
  cursor: pointer;
  font-weight: bold;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.button-container p{
  display: inline-block;
  font-size: 1.5rem;
}

.button-container .green{
  display: inline-block;
  font-size: 1.5rem;
  transition: .5s;
}

.button-container .green:hover{
  cursor: pointer;
  font-weight: bold;
}

.pages-container{
  width: 100%;
  text-align: center;
}

/* Generatives */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  animation: fadeIn 1s forwards;
  margin-left: 0;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover, .next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}


/* ################    FOOTER     ##################### */

footer{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 25px 50px;
  margin-top: 70px;
  border-radius: 14px 14px 0px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px -15px 36px 0px rgba(0, 0, 0, 0.4);
}

.left-side .top{
  font-size: 1.2rem;
  margin: 0;
}

.left-side .name-yellow{
  color: rgb(240, 240, 78);
  font-size: 2rem;
  margin: 0;
  font-family: "Kanit", sans-serif;
  display: inline-block;
}

.left-side .name-white{
  font-size: 2rem;
  margin: 0;
  font-family: "Kanit", sans-serif;
  display: inline-block;
}

.left-side .copy{
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 5px 5px 0;
}

.right-side{
  font-family: "Kanit", sans-serif;
  color: white;
}

.right-side a{
  text-decoration: none;
  color: rgb(201, 201, 201);
  font-size: 1.2rem;
  margin: 0px 15px;
  transition: .2s;
}

.right-side a:hover{
  opacity: 0.5;
  color: rgb(203, 203, 75);
}

.right-side p{
  color: hsl(191, 92%, 68%);
  font-size: 1.5rem;
  margin: 0px 15px;
  transition: .2s;
  display: inline-block;
  margin: 0 0 0 5px;
  text-shadow: 0px 0px 40px rgba(255, 255, 255, .5);
}

.right-side img{
  width: 22px;
  margin: 0 4px 0 25px;
  animation: App-logo-spin infinite 5s linear;
  background: none;
}


@media only screen and (max-width: 600px) {
  #main{
    margin: 7vh 5vw;
    padding: 20px 0;
  }

  #title{
    font-size: 2rem;
    }

  #title img{
    width: 50px;
  }

  #buttons-container{
    width: 75%;
  }

  #buttons-container p{
    font-size: 1.2rem;
  }

  #answer-box{
    width: 85%;
  }

  #answer-box p{
    margin: 15px;
    font-size: 1.3rem;
  }

  
    /*      FOOT Mobile         */
    footer{
      padding: 30px;
  }
  
  .left-side .top{
      font-size: 1rem;
      margin: 0;
  }
  
  .left-side .name-yellow{
      color: rgb(240, 240, 78);
      font-size: 1.5rem;
      margin: 0;
      font-family: "Kanit", sans-serif;
      display: inline-block;
  }
  
  .left-side .name-white{
      font-size: 1.5rem;
      margin: 0;
      font-family: "Kanit", sans-serif;
      display: inline-block;
  }
  
  .left-side .copy{
      font-size: 1.5rem;
      font-family: 'Courier New', Courier, monospace;
      margin: 0 5px 5px 0;
  }
  
  .right-side{
      font-family: "Kanit", sans-serif;
      color: white;
  }
  
  .right-side a{
      color: rgb(201, 201, 201);
      font-size: 1rem;
      margin: 0px 15px;
      transition: .2s;
  }

  .right-side .emit-mobile{
      display: none;
  }
  
  .right-side a:hover{
      opacity: 0.5;
      color: rgb(203, 203, 75);
  }

  .right-side img{
      margin-left: 10px;
  }

  .right-side span{
      display: none;
  }

  #files a{
    font-size: 1rem;
    margin-top: 30px;
  }
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOut {
  100%{
    opacity: 1;
  }
  0%{
    opacity: 0;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}